html {
    scroll-behavior: smooth;
    font-family: 'League Spartan', sans-serif;
  font-family: 'Nunito', sans-serif;
  font-family: 'Palanquin Dark', sans-serif;
  font-family: 'Roboto Slab', serif;
  
  }

  *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Lato", sans-serif;
    padding: 0;
    margin: 0;
  }
  
  nav {
    /* background-color: #111; */
    background-color: rgb(91, 91, 93);
    color: white;
    padding: 20px 50px;
  }

  .nav1middle{
    size: 30px;
  }
  
  .navTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .search-container {
    position: relative;
    display: flex;
    align-items: center;
  }

  .search-input {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 20px;
    outline: none;
    transition: width 0.3s ease-in-out;
    width: 150px;
  }

  .search-input:focus {
    width: 300px;
  }

  .search-icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
  }
  
  .navg {
    width: 100%;
    height: 70px;
  }

  .navg ul{
    list-style: none;
    text-align: center;
  }

  .navg ul li{
    display:inline-block;
    width: 150px;
    position: relative;
    z-index: 99;
  }

  .navg ul li a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    display: block;
  }

  .navg ul li{
    color: aliceblue;
    margin: 0px 5px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-select {
    padding: 10px;
    border-radius: 5px;
    background-color:none;
    cursor: pointer;
  }

  .dropdown .dropdown-select .dropdown-options .dropdown-option a{
    text-decoration: none;
  }

  .dropdown-options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 2px solid #ccc;
    color: black;
    border-top: none;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
  }

  .dropdown-select:hover {
    text-decoration: underline;
  }

  .dropdown:hover .dropdown-options {
    display: block;
  }

  .dropdown-option {
    padding: 10px;
    cursor: pointer;
  }

  .dropdown-option:hover {
    background-color: #f5f5f5;
  }

  /*.navg ul ul{
    position: absolute;
    top: 70px;
    left: 0;
    display: none;
  }

  .navg ul ul li{
    background-color: aliceblue;
    border-bottom: 1px solid black;
  }

  .navg ul li:hover>ul{
    display: block;
  }*/

  .nav1right i{
    margin: 10px 10px;     /* icon ki spacing kam krne ke liye*/
    text-decoration: none;
    color: white;
    padding-right: 20px;
  }

  .nav1right{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
  }

  .rightnav {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
  }
  
  .heading1{
    text-align: center;
    font-weight: 500;
  }

  .dealimage{
    padding: 0.2rem;       /* in between space of image*/
    display: flex;         /* ek line me lane ke liye*/
    flex-basis: 25%;
    width: 100%;
    height: auto;
    background-color: #eeee;
    background-size: cover;
    align-items: center;
  }

  .heading2{
    padding-top: 70px;
    text-align: center;
    font-weight: 500;
  }

  .card-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4rem 0rem;
    padding: 0px 50px;
  }

  .arrivalimage{
    padding: 0.2rem;       /* in between space of image*/
    display: flex;         /* ek line me lane ke liye*/
    flex-basis: 25%;
    width: 100%;
    height: auto;
    background-color: #eeee;
    background-size: cover;
    align-items: center;
  }

  .arrivalimage img{
    width: 100%;
    transition: 0.5 ease-in-out;
  }

  .arrivalimage:hover img{
    
  }

  /*.arrivalimage::before{
    content: "20% off";
    width: 25%;
    height: 25%;
    line-height: 25%;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    background-color: aqua;
    padding: 0px 4px;
    transform: rotate(-20deg);
  }*/


  .features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
  }
  
  .feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .featureIcon {
    width: 50px;
    height: 50px;
  }
  
  .featureTitle {
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
  }
  
  .featureDesc {
    color: gray;
    width: 50%;
    height: 100px;
  }

  footer {
    display: flex;
    background-color: rgb(68, 66, 66);
  }
  
  .footerLeft {
    flex: 2;
    display: flex;
    justify-content: space-between;
    padding: 50px;
  }
  
  .fMenuTitle {
    font-size: 16px;
  }
  
  .fList {
    padding: 0;
    list-style: none;
  }
  
  .fListItem {
    margin-bottom: 10px;
    color: gray;
    cursor: pointer;
  }
  
  .footerRight {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .fInput {
    padding: 5px;
  }
  
  .fButton {
    padding: 5px;
    background-color: black;
    color: white;
  }
  
  .fIcons{
    display: flex;
  }
  
  .fIcon{
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  .copyright{
    font-weight: 300;
    font-size: 14px;
  }

  footer{
    flex-direction: column;
    align-items: center;
    background-color: rgb(66, 67, 68);
  }

  .footerLeft{
    padding: 20px;
    width: 90%;
  }

  .footerRight{
    padding: 20px;
    width: 90%;
    align-items: center;
    background-color: rgb(77, 72, 72);
  }

  .fIcon{
    flex-basis: 50%;
  }

  .fIcons i{
    margin-left: 5px;
    font-size: 5px;
    background-color: black;
    padding: 5px;
    cursor: pointer;
    transition: 0.4 ease-in-out;
  }

  /* wooden temple style*/

  .woodentempleheading1{
    padding: 30px 50px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
